body{
    background-color:  #233142;
    color: white;
}
#pic1{
    margin-left: 7%;
    margin-top: 10%;
    border-radius: 5px;
}
.headline{
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    margin-left: 25%;
}
.main{
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #455d7a;
}
.btn1{
    margin-top: 10%;
    margin-bottom: 50px;
    margin-left: 100px;
    width: 150px;
    background-color: #233142;
    color: white;
    border-radius: 5px;
}
#icon1{
    height: 11px;
}
.btn1:hover{
    background-color:rgb(69, 93, 122) ;
}
.second-part{
    margin-top: 70px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #455d7a;
}
.third-part{
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #455d7a;
}
.btn2{
    margin-top: 50px;
    margin-left: 45%;
    width: 150px;
    background-color: #455d7a;
    color: white;
    border-radius: 5px;
}
.fourth-part{
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #455d7a;
}
.logo{
    margin-left: 40%;
}
#logo_linkedin,#logo_instagram,#logo_facebook,#logo_git{
    margin-left: 10px;
    border: 0.5px solid black;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px; 
    color: white;
}